/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS DE CORES */

:root {
  --primary-bg-blue-dark: #000814;
  --secondary-bg-blue: #001D3D;
  --primary-blue-color: #003566;
  --primary-yellow-color: #FFC300;
  --secondary-yellow-color: #FFD60A;
  --text-color: #faf8f0;
  --bg-gradient: linear-gradient(135deg, var(--primary-bg-blue-dark) 0%, var(--secondary-bg-blue) 15%, var(--primary-blue-color) 55%, var(--primary-bg-blue-dark) 100%);
}


.blue-dark-color {
  color: var(--primary-bg-blue-dark)
}

.bg-blue {
  background-color: var(--secondary-bg-blue)
}

.blue-color {
  color: var(--primary-blue-color);
}

.btn-yellow {
  background-color: var(--secondary-yellow-color);
}

.yellow-color {
  color: var(--primary-yellow-color);
}

.text-color {
  color: var(--text-color);
}


/*  ESTILIZAÇÃO GERAL */

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: var(--text-color);
  background: var(--bg-gradient) no-repeat;
  min-height: 100vh;
}

/* NAVBAR */

.btn-yellow:hover {
  background-color: var(--primary-yellow-color);
  font-weight: bold;
  color: var(--primary-bg-blue-dark);
}

@media(max-width: 768px) {
  #menu-control:checked~.navbar-collapse {
    display: block !important;
  }

  .navbar-collapse {
    transition: all 0.3s ease-in-out;
  }

}

/* HERO-SECTION */

.hero-section .row {
  display: flex;
  flex-direction: row;
}

.hero-section h2 {
  font-size: 3.2rem;
}

.hero-section p {
  font-size: 1.2rem;
}

.hero-section .d-flex a {
  font-size: 1.5rem;
}


/* Animação de flutuação para a imagem */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animation-float {
  animation: float 4s ease-in-out infinite;
}