/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS DE CORES */

:root {
  --primary-dark-blue: #000814;
  --primary-blue-color: #003566;
  --secondary-blue-color: #001D3D;
  --primary-yellow-color: #FFC300;
  --secondary-yellow-color: #FFD60A;
  --off-white-color: #f8f5e7;
  --text-secondary-color: #f8f5e7c7;
  --bg-gradient: linear-gradient(50deg, var(--primary-dark-blue) 0%, var(--primary-blue-color) 55%, var(--primary-dark-blue) 100%);
  
}

/* CLASSES DE CORES */
.bg-primary-dark-blue {
  background-color: var(--primary-dark-blue);
}

.bg-secondary-blue-color {
  background-color: var(--secondary-blue-color);
}

.blue-dark-color {
  color: var(--secondary-blue-color);
}

.blue-color {
  color: var(--primary-blue-color);
}

.bg-yellow {
  background-color: var(--secondary-yellow-color);
}

.yellow-color {
  color: var(--primary-yellow-color);
}

.bg-off-white {
  background-color: var(--off-white-color);
}

.text-color {
  color: var(--off-white-color);
}

.text-secondary-color {
  color: var(--text-secondary-color);
}

.bg-gradient {
  background: var(--bg-gradient);
}


/*  ESTILIZAÇÃO GERAL */

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: var(--off-white-color);
  background: var(--bg-gradient) no-repeat;
  min-height: 100vh;

}

a {
  text-decoration: none;
}

p, small {
  color: var(--text-secondary-color);
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-blue-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #055291af;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-blue-color);
}



/* NAVBAR */

.btn-yellow:hover {
  background-color: var(--primary-yellow-color);
  font-weight: bold;
  color: var(--primary-bg-blue-dark);
}

@media(max-width: 768px) {
  #menu-control:checked~.navbar-collapse {
    display: block !important;
  }

  .navbar-collapse {
    transition: all 0.3s ease-in-out;
  }


}

/* HERO-SECTION */

.hero-section .row {
  display: flex;
  flex-direction: row;
}

.hero-section h2 {
  font-size: 3.2rem;
}

.hero-section p {
  font-size: 1.2rem;
}

.hero-section .d-flex a {
  font-size: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.hero-section .d-flex a:hover {
  transform: translateY(-10px);
  transition: transform 0.5s ease;
}


@media(max-width: 425px) {
  .hero-section {
    text-align: center;
     padding: 0 1rem;
  }
  .hero-section h2 {
    font-size: 2.4rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .hero-section .d-flex a {
    font-size: 1.2rem;
    padding: 0;
  }


}

/* SECTION CONTENT */

/* --- Trilhas --- */
#trilhas {
  padding: 32px 0;
}

.section-content h3 {
  font-size: 2.4rem;
}

/* Cards  */
.slider-window .card {
  border: 1px solid var(--primary-blue-color);
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} 

.slider-item .card-item:hover {

  box-shadow: 4px 4px 12px rgba(13, 202, 240, 0.315);
 

  transform: translateY(-10px);
  
  transition: transform 0.5s ease;
}

.slider-item .card a {
 
  background-color: var(--primary-blue-color);
  font-weight: bold;
}

.slider-item .card a:hover {
  background-color: var(--secondary-blue-color);
}


  .slider-item {
    flex: 0 0 100%; 
    max-width: 100%;
  }

  /* Tablet: 2 Cards por vez */
  @media (min-width: 768px) {
      .slider-item {
        flex: 0 0 50%;
        max-width: 50%;
      }
  }

  /* Desktop: 4 Cards por vez */
  @media (min-width: 992px) {
    .slider-item {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

/* --- Animação do Slider (Desktop) --- */
.slider-track {
  transition: transform 0.5s ease-in-out;
}


@media (min-width: 992px) {
    #slide-1:checked ~ .slider-window .slider-track {
      transform: translateX(0%);
    }

    #slide-2:checked ~ .slider-window .slider-track {
      transform: translateX(-50%);
    }

    #slide-3:checked ~ .slider-window .slider-track {
      transform: translateX(-100%);
    }
}

/* Setas */
.controls-group { display: none; }


#slide-1:checked ~ .controls-1,
#slide-2:checked ~ .controls-2,
#slide-3:checked ~ .controls-3 {
    display: block;
}


.carousel-control {
  position: absolute;

  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  background-color: var(--secondary-bg-blue);
  color: var(--off-white-color);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
}
.carousel-control:hover { 
  background-color: var(--primary-blue-color);
}

.prev { 
  left: -20px; 
}

.next { 
  right: -20px; 
}


/* Carrosel (Mobile) */
@media (max-width: 991px) {
    .slider-track {
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--primary-blue-color) transparent;
        padding-bottom: 1rem;
    }
    .carousel-control { display: none !important; } 
}

/* --- Comunidade --- */
#comunidade .card {
  background-color: transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#comunidade .card:hover {
  
  transform: translateY(-10px);
  transition: transform 0.5s ease;
}

#comunidade .card h2{
  font-size: 2rem;
  color: var(--off-white-color);
}

#comunidade .card i {
  font-size: 2rem;
  color: var(--off-white-color);
}

#comunidade .card p {
  font-size: 1rem;
  color: #f8f5e7d0;
}


/* --- Tabela Tecnológica Semântica --- */


.glowing-border {
    background-color: #001220;
    border: 1px solid rgba(13, 202, 240, 0.3);
    box-shadow: 0 0 15px rgba(13, 202, 240, 0.15), 
                inset 0 0 20px rgba(13, 202, 240, 0.05);
}


.custom-tech-table {
    background-color: transparent !important;
    --bs-table-bg: transparent; 
    --bs-table-color: #fff;
    --bs-table-border-color: rgba(255, 255, 255, 0.1);
}


.custom-tech-table thead th {
    background-color: rgba(0, 0, 0, 0.3); 
    border-bottom: 2px solid rgba(13, 202, 240, 0.5);
    font-weight: 700;
    letter-spacing: 1px;
}

.custom-tech-table tbody tr:nth-of-type(odd) {
    background-color: rgba(13, 110, 253, 0.03); 
}

.custom-tech-table tbody tr:nth-of-type(even) {
    background-color: transparent;
}


.custom-tech-table tbody tr:hover td {
    background-color: rgba(13, 202, 240, 0.1);
    color: var(--off-white-color);
    transition: background-color 0.3s ease;
    cursor: default; 
}


.custom-tech-table td, 
.custom-tech-table th {
    white-space: nowrap; 
    border-bottom-width: 1px;
}


.custom-tech-table td div span {
    white-space: normal;
}

.custom-tech-table tbody tr:last-child td {
    border-bottom: 0;
}


/* --- MODAL FEEDBACK --- */

  .success-modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    z-index: 9999 !important; 
    animation: fadeIn 0.3s ease;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-blue-color);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 12px var(--primary-blue-color);
    width: 300px;
  }

  .modal-content p {

    font-size: 1rem;
  }


  .close-modal {
    font-weight: bold;
    border-radius: 4px;

    cursor: pointer;
    margin-top: 1rem;
  }

  .close-modal:hover {
    background-color: var(--primary-blue-color);
  }

  #modal-feedback-toggle:checked ~ .success-modal {
    display: block;
  }



/* --- MODAL FORMS CADASTRO --- */

#modal-toggle {
    display: none;
}


.modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 8, 20, 0.74); 
    z-index: -1; 
    opacity: 0;  
    transition: opacity 0.3s ease, z-index 0s linear 0.3s; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-content-box {
    background-color: var(--secondary-blue-color);
    box-shadow: 0 0 30px var(--primary-blue-color);
    max-width: 600px;
    width: 100%;
    max-height: 90vh; 
    overflow-y: auto; 
    scrollbar-width: thin;
    scrollbar-color: var(--primary-blue-color) transparent;
    
}


#modal-toggle:checked ~ .modal-overlay {
    z-index: 1050; 
    opacity: 1;    
    transition: opacity 0.3s ease, z-index 0s;
}

#modal-toggle:checked ~ .modal-overlay .modal-content-box {
    transform: translateY(0); 
}


.modal-header .btn-close {
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;

}

.form-text {
  color: #f8f5e78f;
}

